[Humidity-Sensor1]
pin = 0
threshold = 60

[Humidity-Sensor2]
pin = 1
threshold = 60

[Humidity-Sensor3]
pin = 2
threshold = 70


[Garden-Controller]
app-name: Garden-Controller
measure-count: 5
measure-sleeptime: 0.01
upper-measure-limit: 50.0
lower-measure-limit: 0.0
status-schedule: 0 0 10-17 * * * *
#status-schedule: */5 * * * * * *

[Morning-Watering-Schedule]
watering-pour: 4.5
#watering-pour: 0.01
#watering-scheduler = */5 * * * * * *
watering-scheduler = 0 0 6 * * * *
sensor-threshold-factor = 1.0

[Morning-Support-Watering-Schedule]
watering-pour: 0.5
watering-scheduler = 0 0,30 7-9 * * * *
sensor-threshold-factor = 0.8
#watering-scheduler = */2 * * * * * *

[Evening-Watering-Schedule]
watering-pour: 0.5
watering-scheduler = 0 0,30 18-20 * * * *
sensor-threshold-factor = 0.65
#watering-scheduler = */2 * * * * * *


[Watering-Server]
app-name: Watering-Server
port: 5000
url: localhost
relay-pin: 26
# for DEV
#pour_interval_time: 2
#pour_pause_time: 1
# for PROD
pour_interval_time: 60
pour_pause_time: 2


[Log]
level: INFO
file: /var/log/garden.log


[Twitter]
enable: false
#DIRECT_MSG_USER: john_doe
#CONSUMER_KEY: '1234abcd...'#keep the quotes, replace this with your consumer key
#CONSUMER_SECRET: '1234abcd...'#keep the quotes, replace this with your consumer secret key
#ACCESS_KEY: '1234abcd...'#keep the quotes, replace this with your access token
#ACCESS_SECRET: '1234abcd...'#keep the quotes, replace this with your access token secret


[OpenWeatherMap]
enable: false
#TOKEN: '1234abcd...'#keep the quotes, replace this with your consumer key
#location: 'Berlin,de'
lower_env_temp_limit: 10.0
upper_env_temp_limit: 40.0
initial_value: 2.5
max_intervals: 5.5
min_intervals: 0.5
rain_pour_deduction_limit: -1.0
upper_env_rain_limit: 20
lower_env_rain_limit: 1.5
upper_hum_measure_limit: 70
lower_hum_measure_interval_factor: 0.6
max_own_request_tries: 5