[Humidity-Sensor1]
pin = 0
threshold = 50
port = analog

[Humidity-Sensor2]
pin = 1
threshold = 50
port = analog

[Humidity-Sensor3]
pin = 2
threshold = 50
port = analog


[Garden-Controller]
app-name: Garden-Controller
measure-count: 50
measure-sleeptime: 0.01
upper-measure-limit: 750
lower-measure-limit: 70
status-schedule: 0 0 11-17 * * * *

[Morning-Watering-Schedule]
watering-pour: 3.0
# for DEV
# every 5 seconds
#watering-scheduler = */5 * * * * * *
sensor-threshold-factor = 1.0

# for PROD
# every 30 minutes in the morning and evening
watering-scheduler = 0 0,30 6-10 * * * *

[Morning-Support-Watering-Schedule]
watering-pour: 0.5
watering-scheduler = 0 0,30 7-9 * * * *
sensor-threshold-factor = 0.9

[Evening-Watering-Schedule]
watering-pour: 1.0
watering-scheduler = 0 0,30 18-21 * * * *
sensor-threshold-factor = 0.8


[Watering-Server]
app-name: Watering-Server
port: 5000
url: localhost
relay-pin: 2

# for DEV
#pour_interval_time: 2
#pour_pause_time: 1

# for PROD
pour_interval_time: 60
pour_pause_time: 2


[Log]
level: INFO
file: /var/log/garden.log


[Twitter]
enable: false
#DIRECT_MSG_USER: john_doe
#CONSUMER_KEY: '1234abcd...'#keep the quotes, replace this with your consumer key
#CONSUMER_SECRET: '1234abcd...'#keep the quotes, replace this with your consumer secret key
#ACCESS_KEY: '1234abcd...'#keep the quotes, replace this with your access token
#ACCESS_SECRET: '1234abcd...'#keep the quotes, replace this with your access token secret

[OpenWeatherMap]
enable: false
#TOKEN: '1234abcd...'#keep the quotes, replace this with your consumer key
#location: 'Berlin,de'
lower_env_temp_limit: 10.0
upper_env_temp_limit: 40.0
initial_value: 1.5
max_intervals: 4.0
min_intervals: 1.2
rain_pour_deduction_limit: -1.0
upper_env_rain_limit: 20
lower_env_rain_limit: 1.5
upper_hum_measure_limit: 70
lower_hum_measure_interval_factor: 0.4